.root {
    
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

/* for Macs */
.dialog-pane  {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}
.heading{
    -fx-font-family: serif;
    -fx-font-size: 70px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , #ffa600 , 7,1,0,0 );
    -fx-text-fill: #ffffff;
  }
  .title{
    -fx-font-family: serif;
    -fx-font-size: 125px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , #ffa600 , 7,1,0,0 );
    -fx-text-fill: #ffffff;
  }
  .credits{
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( gaussian , #ffffff , 1,1,0,0 );
    -fx-alignment:center;
  }
  .achievements{
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( gaussian , #ffffff , 1,1,0,0 );
    -fx-alignment:center;
  }

  .inventory{
    border: 3px black;
  }

  .health{
    -fx-text-fill: red;
    -fx-font-size: 20px;
    background-color: white;
  }

  .died {
    -fx-text-fill: orange;
    -fx-font-size: 40px;
    border: 8px yellow;
    font:600;
  }